body {
  font-family: arial, sans-serif;
}
h1 {
  color: #707579;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: #707579;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.current-temperature-icon {
  margin-right: 5px;
  height: 65px;
  width: 65px;
  position: relative;
  top: -15px;
}
.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 20px 0;
  border: 1px solid #d9dce0;
  border-radius: 6px;
  margin-bottom: 0;
}
.sourse {
  margin-left: 350px;
}
.units {
  position: relative;
  top: -35px;
  text-decoration: none;
}
.overview {
  margin-bottom: 20px;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  color: #202124;
  line-height: 0.5;
}
.description {
  text-transform: capitalize;
}
.active {
  color: #202124;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #202124;
  opacity: 0.6;
}
.weather-forecast-temperature-max {
  font-size: 13px;
  color: #202124;
}
.weather-forecast-temperature-min {
  font-size: 13px;
  color: #707579;
}
